<footer class="site-footer">
  <div class="contenedor clearfix">
    <div class="footer-informacion">
      <h3>Sobre
        <span>IEM DEPARTAMENTAL</span>
      </h3>
      <p>La Institución Educativa Departamental de Pitalito-Huila, de carácter oficial, ofrece el Servicio Educativo en los
        Niveles de Preescolar, Educación Básica, Media Académica y Técnica, con sólida fundamentación académica, científica,
        ética y humanística, para el desarrollo de las competencias académicas, laborales, cuidadanas en prosperidad del
        Educando; contribuyendo así con sus expectativas de ingreso a la Educación Superior y/o de oportunidades individuales
        y colectivas, para elevar su nivel de calidad de vida y de la sociedad donde actúe, como estudiante o egresado.</p>
    </div>
    <div class="ultimos-tweets">
      <h3>Últimos
        <span>Tweets</span>
      </h3>
      <a class="twitter-timeline" data-height="400" data-theme="light" href="https://twitter.com/Cris_SamJS?ref_src=twsrc%5Etfw">Tweets by Cris_SamJS</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="menu">
      <h3>Síguenos desde la Redes Sociales
      </h3>
      <nav class="redes-sociales">
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fab fa-github"></i>
        </a>
        <a href="#">
          <i class="fab fa-youtube"></i>
        </a>
      </nav>
    </div>
  </div>
  <p class="copyright">Todos los derechos Reservados | IEM DEPARTAMENTAL 2018
    <br>
    <i class="fas fa-terminal"></i> CSamboni</p>
</footer>