<section class="maestros contenedor seccion">
  <h2>Nuestros Maestros</h2>
  <ul class="lista-maestros clearfix">
    <li>
      <div class="maestro">
        <img src="../../../assets/img/docentes/A12 copia.jpg" alt="imagen maestro">
        <p> Azael Jimenez Castillo</p>
      </div>
    </li>
    <li>
        <div class="maestro">
          <img src="../../../assets/img/docentes/A14 copia.jpg" alt="imagen maestro">
          <p>Benjamin Trujillo Trujillo</p>
        </div>
      </li>
      <li>
          <div class="maestro">
            <img src="../../../assets/img/docentes/A15 copia.jpg" alt="imagen maestro">
            <p>Carlos Andrés Vargas</p>
          </div>
        </li>
        <li>
            <div class="maestro">
              <img src="../../../assets/img/docentes/A26 copia.jpg" alt="imagen maestro">
              <p>Jorguen Alexander Palacios</p>
            </div>
          </li>
          <li>
              <div class="maestro">
                <img src="../../../assets/img/docentes/A28 copia.jpg" alt="imagen maestro">
                <p>Lina Marcela Polo</p>
              </div>
            </li>
            <li>
                <div class="maestro">
                  <img src="../../../assets/img/docentes/A33 copia.jpg" alt="imagen maestro">
                  <p>Maria Leonor Valencia</p>
                </div>
              </li>
              <li>
                  <div class="maestro">
                    <img src="../../../assets/img/docentes/A42 copia.jpg" alt="imagen maestro">
                    <p>Sandra Liliana Claros</p>
                  </div>
                </li>
                <li>
                    <div class="maestro">
                      <img src="../../../assets/img/docentes/DSC_2019.JPG" alt="imagen maestro">
                      <p>Edna Castro</p>
                    </div>
                  </li>
                  <li>
                      <div class="maestro">
                        <img src="../../../assets/img/docentes/A73 copia.jpg" alt="imagen maestro">
                        <p>Yenni </p>
                      </div>
                    </li>
                </ul>
                <a href="#" class="button ver-mas" style="margin-right: auto; margin-left: auto;">Ver todos los docentes</a>
       </section>
