<section class="habilidades seccion">
  <h2>Habilidades</h2>
  <div class="contenedor">
    <ul class="lista-ventajas clearfix">
      <li>
        <div class="tabla-ventajas">
          <h3>Comunidad</h3>
          <p class="numero"><i class="fas fa-people-carry"></i></p>
          <ul>
            <li>Docencia Profesional</li>
            <li>Disciplina y orden</li>
            <li>Educación Colectiva</li>
          </ul>
          <a href="#" class="button">Ver</a>
        </div>
      </li>
      <li>
        <div class="tabla-ventajas">
          <h3>Talentos & Vocaciones</h3>
          <p class="numero"><i class="fas fa-trophy"></i></p>
          <ul>
            <li>Desarrollo de habilidades</li>
            <li>Enfoque deportivo</li>
            <li>Actividades, salud y bienestar</li>
          </ul>
          <a href="#" class="button hollow">Ver</a>
        </div>
      </li>
      <li>
        <div class="tabla-ventajas">
          <h3>Planta Física</h3>
          <p class="numero"><i class="far fa-building"></i></p>
          <ul>
            <li>Dotados para la enseñanza</li>
            <li>Espacios Verdes</li>
            <li>Aula de Conferencias y presentaciones</li>
          </ul>
          <a href="#" class="button">Ver</a>
        </div>
      </li>
    </ul>
  </div>
</section>
