<section class="animated fadeIn">
  <header class="site-header">
    <div class="hero">
      <div class="contenido-header">
        <nav class="redes-sociales">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fab fa-youtube"></i>
          </a>
        </nav>
        <div class="informacion-header">
          <div class="clearfix">
            <p class="fecha">16-05 Mayo</p>
            <p class="city">Pitalito, Huila</p>
          </div>
          <h1 class="nombre-sitio">IEM Departamental</h1>
          <p class="slogan">Aprender a
            <span>Aprender</span>
          </p>
        </div>
      </div>
    </div>
  </header>
  <div class="barra">
    <div class="contenedor clearfix">
      <div class="logo">
      </div>
      <div class="menu-movil">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="navegacion-principal clearfix">
        <a href="#">Inicio</a>
        <a href="#">Multimedia</a>
        <a href="#">Tablero</a>
        <a href="#">Blog</a>
        <a href="#">Más</a>
        <a href="#">Contácto</a>
      </nav>
    </div>
  </div>
  <section class="seccion contenedor">
    <h2>Mejor planta física del Municipio</h2>
    <p>
      Contamos con una infraestructura diseñada para la comodidad y el correcto desarrollo de los estudiantes, con el apoyo completo
      de nuestros mejores maestros.
    </p>
  </section>
  <app-footer></app-footer>
</section>