<section class="seccion">
  <h2>Próxima Conferencia en:</h2>
  <div class="cuenta-regresiva">
    <ul class="clearfix">
      <li>
        <p id="dias" class="numero"></p>
        <span>días</span>
      </li>
      <li>
        <p id="horas" class="numero"></p>
        <span>horas</span>
      </li>
      <li>
        <p id="minutos" class="numero"></p>
        <span>minutos</span>
      </li>
      <li>
        <p id="segundos" class="numero"></p>
        <span>segundos</span>
      </li>
    </ul>
  </div>
</section>