<section class="seccion">
    <h2>Voz de nuestros Egresados</h2>
    <div class="egresados contenedor clearfix">
    <div class="egresado">
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
      <footer class="info-egresados clearfix">
        <img src="../../../assets/img/testimonial.jpg" alt="imagen testimonial">
        <cite>Robert Jr. Escobed <span>Ingeniero Civil</span></cite>
      </footer>
    </blockquote>
    </div> <!--.egresados-->
    <div class="egresado">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
          <footer class="info-egresados clearfix">
            <img src="../../../assets/img/testimonial.jpg" alt="imagen testimonial">
            <cite>Robert Jr. Escobed <span>Ingeniero Civil</span></cite>
          </footer>
        </blockquote>
        </div> <!--.egresados-->
        <div class="egresado">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
              <footer class="info-egresados clearfix">
                <img src="../../../assets/img/testimonial.jpg" alt="imagen testimonial">
                <cite>Robert Jr. Escobed <span>Ingeniero Civil</span></cite>
              </footer>
            </blockquote>
           <!--.egresados-->
          </div>
          </div>
  </section>
